<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>О нас</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="container mt-5">
    <h1>Страница про нас</h1><br>
    <h4>"Редактор новостей" – ведущий мультимедийный холдинг России. Компания ведет операционную деятельность в сегментах интернет, телевидения и прессы. "Редактор новостей" – лидер среди новостных и бизнес-медиа, а также в сегменте регистрации доменов и хостинга.</h4><br><br>
    <h4>ПОСЛЕДНИE НОВОСТИ
        27.09.2021	"Редактор новостей" ПРИВЛЕК ПАРТНЕРА ДЛЯ РАЗВИТИЯ RU-CENTER
        30.04.2021	"Редактор новостей" публикует финансовый и операционный отчет за 2020 год
        16.07.2020	Заявление "Редактор новостей" о суде с «Роснефтью» по иску на 43 млрд. рублей</h4>
</div>
<div th:insert="blocks/footer :: footer"></div>
</body>
</html>