<div th:fragment="footer">
</div>
<footer class="text-muted py-5">
    <div class="container">

        <a class="mb-1"><a href="https://vk.com/kron513"style="color: black; font-size:18px; padding-right: 15px">Редакция</a>
        <a class="mb-1"><a href="https://rambler-co.ru/career"style="color: black; font-size:18px; padding-right: 15px">Вакансии</a>
        <a class="mb-1"><a href="/agree" style="color: black; font-size:18px; padding-right: 15px">Условия пользования</a>
        <p class="mb-1">Адрес редакции и издателя: 603123, г. Нижний Новгород, Московское шоссе, д.12"</p>
        <p class="mb-0">Телефон редакции: 7 (431) 600 20 22</p>
        <p class="mb-0">© 2022 год "Новостная лента"</p>

    </div>
    </footer>
</div>
